.cart-backgr {
    background-image: url(img/h2_hero2.jpg.webp);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cart-caption h2 {
    color: white;
    font-size: 50px;
    font-weight: 400;
}

.media img {
    padding-right: 30px;
}

th {
    text-align: center !important;
}

td {
    vertical-align: middle;
    text-align: center !important;
}

.product-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.product-count input {
    text-align: center;
    border: none;
    width: 100px;
}

.product-count span {
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    text-align: center;
    width: 10px;
}

.num {
    pointer-events: none;
}
